<h1>Welcome to the Wedding Planner</h1>
<a href="/logout">Sign Out</a>

<hr>

<table>
    <tr>
    <th>Wedding</th>
    <th>Date</th>
    <th>Guest</th>
    <th>Action</th>
    </tr>
    @foreach (var wedding in @ViewBag.Weddings) {
        <tr>
            <td><a href="wedding/@wedding.WeddingId">@wedding.WedderOne & @wedding.WedderTwo</a></td>
            <td>@wedding.Date.ToString("MMM dd yyyy")</td>
            <td>@wedding.Attendees.Count</td>
            <td>
                @* If current user created the wedding, delete action *@
                @if(@wedding.Attendees[0].User.UserId == ViewBag.User.UserId) {
                    <a href="/Delete/@wedding.WeddingId">Delete</a>
                } else { 
                    bool temp = false;
                    @foreach (var attendingwedding in @ViewBag.User.WeddingAttending)
                    {
                        @if(@attendingwedding.WeddingId == @wedding.WeddingId) { 
                            <a href="UnRSVP/@wedding.WeddingId">Un-RSVP</a>
                            temp = true;
                        }
                    }
                    @if (temp == false) {
                        <a href="/RSVP/@wedding.WeddingId">RSVP</a>
                    }
                }
            </td>
        </tr>
    }
</table>


<hr>

<a href="/NewWedding">New Wedding</a>