<h1>@ViewBag.Wedding.WedderOne and @ViewBag.Wedding.WedderTwo</h1>
<a href="/Dashboard">Dashboard</a>
<a href="/logout">Sign Out</a>

<hr>

<h2>Date:</h2>
@ViewBag.Wedding.Date.ToString("MMM dd yyyy")
<h2>Address:</h2>
@ViewBag.Wedding.Address
<h2>Guests:</h2>
<ul>
    @foreach (var guest in @ViewBag.Wedding.Attendees) {
        <li>@guest.User.FirstName @guest.User.LastName</li>
    }
</ul>